@font-face {
    font-family: HalloweenSpooky;
    src: url("../fonts/HalloweenSpooky.otf");
}

.nui-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    user-select: none;
}

.halloween-container {
    user-select: none;
    height: 70%;
    width: 25%;
    background: rgb(116, 63, 7);
    background: radial-gradient(circle, rgba(116, 63, 7, 1) 5%, rgba(13, 13, 13, 1) 85%);
    border-radius: 15px;
    position: relative;
    padding: 10px;
    padding-top: 100px;
    .close-icon {
        transition: all .15s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        margin: 7px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.3);
        transform: scale(1);
        &:hover {
            transform: scale(1.05);
            color: rgba(255, 255, 255, 1);
        }
    }
    .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 8vh;
        top: -30px;
        filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px black)
            drop-shadow(0px 0px 5px black);
        z-index: 2;
    }
    .bats {
        position: absolute;
        width: 25vw;
        left: 50%;
        transform: translateX(-50%);
        top: 1vh;
        z-index: 1;
    }
    .ranking-wrapper {
        z-index: 2;
        display: flex;
        flex-direction: column;
        h1, h4 {
            margin: 0 auto;
            font-family: HalloweenSpooky;
            letter-spacing: 3px;
            font-size: 2.5em;
            color: #f98128;
            filter: drop-shadow(0px 0px 10px #f98128);
        }
        .your-place {
            font-size: 1em;
            letter-spacing: 1px;
            color: #50b847;
            filter: drop-shadow(0px 0px 10px #50b847);
        }
        .ranking-list {
            display: flex;
            flex-direction: column;
            .ranking-list-item {
                padding: 8px 5px;
                border-bottom: 1px solid #8a330b;
                display: flex;
                align-items: center;
                .index {
                    margin-right: 5px;
                    color: rgba(255, 255, 255, 0.7);
                }
                .name {
                    position: relative;
                    font-size: 1.3em;
                    z-index: 2;
                }
                .crown {
                    font-size: 1.2em;
                    position: absolute;
                    right: -13px;
                    top: -9px;
                    transform: rotate(20deg);
                    z-index: 5;
                    color: #FFD700;
                }
                .pumpkins {
                    font-weight: 600;
                    font-size: 1.25em;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    svg {
                        margin-left: 5px;
                        color: #ff7b00;
                    }
                }
                background-color: #a54e0c17;
                &:nth-child(1) {
                    border-radius: 10px 10px 0 0;
                    background-color: #fee001b7;
                }
                &:nth-child(2) {
                    background-color: #a7a7ad8f;
                }
                &:nth-child(3) {
                    background-color: #824a028f;
                }
                &:last-child {
                    border: none;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
        .more-entries {
            margin: 10px auto;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    img.bottom {
        position: absolute;
        bottom: 0px;
        border-radius: 0px 0px 10px 10px;
        z-index: 1;
        width: 25vw;
        left: 50%;
        transform: translateX(-50%);
    }
}

* {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(212, 108, 23);
        border-radius: 13px;
    }
    box-sizing: border-box;
}
